  @font-face {
      font-family: Awesome; 
      src: local("Awesome"), 
         url(fonts/FontAwesome.eot);}

  @font-face {
      font-family: Awesome; 
      src: local("Awesome"), 
         url(fonts/fontawesome-webfont.ttf);}  




* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
.hero img {
    display: inline-block;
    margin-top: -1.2rem;
    height: 4.2rem;
}
ol, ul {list-style: none;
padding: 0;
margin:0;}

hr{border-top: 1px dotted #999;
border-bottom: none;
margin-bottom: 20px;
margin-top: 20px;}

.hero {
  text-align: center;
  position: relative;
  height: auto;
  padding-bottom: 180px;
  background: #4f2f60 url("https://trp-marketing-materials.s3.amazonaws.com/trp_mobile_agent_page/trp_agent_landing_hero.jpg") center top no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  border-bottom: 4px solid #da2328;
  border-top: 4px solid #da2328;
}
.hero h1 {
  margin: 60px 0 -35px;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  font-size: 35px;
}
.hero h1 span {
  font: 700 60px/1 "Dancing Script", cursive;
  display: block;
}
.hero h2 {
  font-family: Verdana,Helvetica,Arial,sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.3em;
  font-weight: 400;
  padding: 20px;
  padding-bottom: 50px;
}
span.phone-box {
  float: right;
  font-size: 20px;
  padding-top: 1%;
  font-weight: bold;
  color: #3b3b58;
}
span.phone-box a {color: #3b3b58;}
section.top-menu {padding: 5px;}
@media only screen and (min-width: 37.5em) {
  .hero h1 {font-size: 50px;}
  .hero h1 span {font-size: 76px;}
  .hero h2 {width: 76%; font-size: 20px;}
}

.wrapper {
  margin: 0 auto;
  width: 96%;
  /*max-width: 1120px;*/
}

.section {
  padding: 30px 0;
  padding-top: 50px;
  padding-bottom: 30px;
  overflow: auto;
}
.section__title {
  font-size: 24px;
  color: #3b3b58;
  text-align: center;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  margin: 14px 0;
}
.section__intro {
  display: block;
  text-align: center;
  margin: 0 5% 30px;
}
@media only screen and (min-width: 43.75em) {
  .section__intro {
    margin-left: 15%;
    margin-right: 15%;
  }
}
.section--cta {
  color: #454545;
  background: #F2F5FA;
}

.box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 100%;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  margin-bottom: 20px;
}
.box__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.box__title { font-family: Verdana,Helvetica,Arial,sans-serif;}
.box__more {color: #da2328;}
.box__content {
  color: #454545;
  text-align: center;
  padding: 20px;
}
.box__content > i { color: #3b3b58;}
.box__content:hover .box__more {color: #ff3545;}
.box__content:hover .box__more i {
  padding-left: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
@media only screen and (min-width: 43.75em) {
  .box {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 49%;
        -ms-flex: 0 0 49%;
            flex: 0 0 49%;
  }
}

.btn, .btn-1 {
  color: #fff;
  font-family: Verdana,Helvetica,Arial,sans-serif;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 12px 18px;
  border-radius: 30px;
  background: #da2328;
}
.btn-1 {background: #57c394;}
.btn:hover { background: #ff3545;}
.btn-1:hover {
  background: #36946b;
}
.footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
  background: #222;
  overflow: auto;
}
.footer p {
  opacity: .65;
  font-weight: normal;
  font-size: 15px;
}
.footer p.footer-text a { color: #fff;}

.logo{margin-left:35px; }
.menu-icon{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
}

.menu-icon span::after {
    content: "";
    position: absolute;
    display: block;
    box-shadow: 0 0px 0 1px #444445,0 8px 0 1px #444445,0 16px 0 1px #444445;
    width: 20px;}

.menu-item{
  display: inline;
  list-style: none;
  margin-right: 25px;}

.menu-items{
  display: inline;
  list-style: none;
  padding: 0;}

.menu-items a{
  color: #767676;
  font-size: 14px;
  line-height: 40px;}

.left {
    float: left !important;
}
section{width: 100%}
a{display: inline;}



button{
      border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "ProximaNova Regular",Verdana,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    display: inline-block;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    border-color: #da2328;
    text-transform: uppercase;
    background-color: #da2328;
    color: #fff;
    transition: background-color 300ms ease-out;
    width: 100%;
    border-radius: 3px;
}

input, textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background-color: #fff;
    font-family: inherit;
    border: 1px solid #999;
    box-shadow: 0 0 2px rgba(0,0,0,0.3) inset;
    color: #000;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;}

button, .label{margin-top: 20px;}

input{ height: 40px;}


.footer-menu{text-align: left;}

.footer a{color: #999; font-size: 12px;}

.footer .text-highlight{
  color: #fff;
  font-size: 14px;
  text-align: left;}

.address{ color: #999; font-size: 12px;}

.icon{font: normal 25px Awesome;}

.invalid{    color: red; font-size: 13px;}

.social i:before{font-size: 25px;
margin: 0 10px;
color: #444;}

.menu-items{
  display: inline !important;

}
.right{float: right;}

.top-menu .fa{font-size: 25px;}

@media (max-width: 600px) { 
  .left-menu {
display: none !important;
  }
}



















.text-left { text-align: left;}
.text-right { text-align: right;}
.text-center { text-align: center;}




.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {width: 100%;}
.col-xs-11 {width: 91.66666667%;}
.col-xs-10 {width: 83.33333333%;}
.col-xs-9 {width: 75%;}
.col-xs-8 {width: 66.66666667%;}
.col-xs-7 {width: 58.33333333%;}
.col-xs-6 {width: 50%;}
.col-xs-5 {width: 41.66666667%;}
.col-xs-4 {width: 33.33333333%;}
.col-xs-3 {width: 25%;}
.col-xs-2 {width: 16.66666667%;}
.col-xs-1 {width: 8.33333333%;}

.col-xs-offset-12 {margin-left: 100%;}
.col-xs-offset-11 {margin-left: 91.66666667%;}
.col-xs-offset-10 {margin-left: 83.33333333%;}
.col-xs-offset-9 {margin-left: 75%;}
.col-xs-offset-8 {margin-left: 66.66666667%;}
.col-xs-offset-7 {margin-left: 58.33333333%;}
.col-xs-offset-6 {margin-left: 50%;}
.col-xs-offset-5 {margin-left: 41.66666667%;}
.col-xs-offset-4 {margin-left: 33.33333333%;}
.col-xs-offset-3 {margin-left: 25%;}
.col-xs-offset-2 {margin-left: 16.66666667%;}
.col-xs-offset-1 {margin-left: 8.33333333%;}
.col-xs-offset-0 {margin-left: 0%;}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {width: 100%;}
  .col-sm-11 {width: 91.66666667%;}
  .col-sm-10 {width: 83.33333333%;}
  .col-sm-9 {width: 75%;}
  .col-sm-8 {width: 66.66666667%;}
  .col-sm-7 {width: 58.33333333%;}
  .col-sm-6 {width: 50%;}
  .col-sm-5 {width: 41.66666667%;}
  .col-sm-4 {width: 33.33333333%;}
  .col-sm-3 {width: 25%;}
  .col-sm-2 {width: 16.66666667%;}
  .col-sm-1 {width: 8.33333333%;}

  .col-sm-offset-12 {margin-left: 100%;}
  .col-sm-offset-11 {margin-left: 91.66666667%;}
  .col-sm-offset-10 {margin-left: 83.33333333%;}
  .col-sm-offset-9 {margin-left: 75%;}
  .col-sm-offset-8 {margin-left: 66.66666667%;}
  .col-sm-offset-7 {margin-left: 58.33333333%;}
  .col-sm-offset-6 {margin-left: 50%;}
  .col-sm-offset-5 {margin-left: 41.66666667%;}
  .col-sm-offset-4 {margin-left: 33.33333333%;}
  .col-sm-offset-3 {margin-left: 25%;}
  .col-sm-offset-2 {margin-left: 16.66666667%;}
  .col-sm-offset-1 {margin-left: 8.33333333%;}
  .col-sm-offset-0 {margin-left: 0%;}
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;}
  .col-md-12 {width: 100%;}
  .col-md-11 {width: 91.66666667%;}
  .col-md-10 {width: 83.33333333%;}
  .col-md-9 {width: 75%;}
  .col-md-8 {width: 66.66666667%;}
  .col-md-7 {width: 58.33333333%;}
  .col-md-6 {width: 50%;}
  .col-md-5 {width: 41.66666667%;}
  .col-md-4 {width: 33.33333333%;}
  .col-md-3 {width: 25%;}
  .col-md-2 {width: 16.66666667%;}
  .col-md-1 {width: 8.33333333%;}
  
  .col-md-offset-12 {margin-left: 100%;}
  .col-md-offset-11 {margin-left: 91.66666667%;}
  .col-md-offset-10 {margin-left: 83.33333333%;}
  .col-md-offset-9 {margin-left: 75%;}
  .col-md-offset-8 {margin-left: 66.66666667%;}
  .col-md-offset-7 {margin-left: 58.33333333%;}
  .col-md-offset-6 {margin-left: 50%;}
  .col-md-offset-5 {margin-left: 41.66666667%;}
  .col-md-offset-4 {margin-left: 33.33333333%;}
  .col-md-offset-3 {margin-left: 25%;}
  .col-md-offset-2 {margin-left: 16.66666667%;}
  .col-md-offset-1 {margin-left: 8.33333333%;}
  .col-md-offset-0 {margin-left: 0%;}
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {width: 100%;}
  .col-lg-11 {width: 91.66666667%;}
  .col-lg-10 {width: 83.33333333%;}
  .col-lg-9 {width: 75%;}
  .col-lg-8 {width: 66.66666667%;}
  .col-lg-7 {width: 58.33333333%;}
  .col-lg-6 {width: 50%;}
  .col-lg-5 {width: 41.66666667%;}
  .col-lg-4 {width: 33.33333333%;}
  .col-lg-3 {width: 25%;}
  .col-lg-2 {width: 16.66666667%;}
  .col-lg-1 {width: 8.33333333%;}
 
  .col-lg-offset-12 {margin-left: 100%;}
  .col-lg-offset-11 {margin-left: 91.66666667%;}
  .col-lg-offset-10 {margin-left: 83.33333333%;}
  .col-lg-offset-9 {margin-left: 75%;}
  .col-lg-offset-8 {margin-left: 66.66666667%;}
  .col-lg-offset-7 {margin-left: 58.33333333%;}
  .col-lg-offset-6 {margin-left: 50%;}
  .col-lg-offset-5 {margin-left: 41.66666667%;}
  .col-lg-offset-4 {margin-left: 33.33333333%;}
  .col-lg-offset-3 {margin-left: 25%;}
  .col-lg-offset-2 {margin-left: 16.66666667%;}
  .col-lg-offset-1 {margin-left: 8.33333333%;}

}
table {
  background-color: transparent;
}
caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}
th {
  text-align: left;
}


.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}

@-ms-viewport {
  width: device-width;
}
.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}



.hidden-xs {  display: block !important;}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-xs.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-xs.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-xs.hidden-lg {
    display: none !important;
  }
}
.hidden-sm {
  display: block !important;
}
table.hidden-sm {
  display: table;
}
tr.hidden-sm {
  display: table-row !important;
}
th.hidden-sm,
td.hidden-sm {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-sm.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-sm.hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-sm.hidden-lg {
    display: none !important;
  }
}
.hidden-md {
  display: block !important;
}
table.hidden-md {
  display: table;
}
tr.hidden-md {
  display: table-row !important;
}
th.hidden-md,
td.hidden-md {
  display: table-cell !important;
}
@media (max-width: 767px) {
  .hidden-md.hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-md.hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-md.hidden-lg {
    display: none !important;
  }
}
.hidden-lg {
  display: block !important;
}

@media (max-width: 767px) {
  .hidden-lg.hidden-xs {display: none !important;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-lg.hidden-sm {display: none !important;}
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-lg.hidden-md {display: none !important;}
}
@media (min-width: 1200px) {
  .hidden-lg {display: none !important;}
}


